.tituloPrincipal {
    font-family: 'Bebas Neue', cursive;
    color: $negro;
    font-size: map-get($tamañoFuentes, titulo);
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

.descripcionDeLaPaginaInicio {
    font-size: map-get($tamañoFuentes, desc);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.pcArmada {
    border-top: solid 5px $azul;
    border-right: solid 5px $azul;
    border-bottom: solid 5px $azul;
    border-left: solid 5px $azul;
    box-shadow: 0 0 5px $azul;
}