
$negro: black;
$azul: #0623c4;

$margenRedes: 15px;

$redes:(
    Fb: #2828d1,
    Ig: #f03ed8,
    Ws: #27c027,
    Yt: rgb(199, 3, 3),
    Tw: rgb(90, 9, 90),
);

$tamañoFuentes:(
    titulo: 50px,
    desc: 35px,
);


